<div class="floating-header">
    <div class="floating-header-logo">
        <a href="{{ '/' | relative_url }}">
            {% if site.logo_dark %}
                <img src="{{ site.logo_dark | relative_url }}" alt="{{ site.title }} icon" />
            {% endif %}
            <span>{{ site.title }}</span>
        </a>
    </div> 
    <span class="floating-header-divider">&mdash;</span>
    <div class="floating-header-title">{{ page.title }}</div>
    <div class="floating-header-share">
        <div class="floating-header-share-label">Share this {% include point.html %}</div>
        <a class="floating-header-share-linkedin" href="https://www.linkedin.com/in/{{ site.linkedin }}"
            onclick="window.open(this.href, 'share-linkedin', 'width=1600,height=400');return false;">
            {% include linkedin.html %}
        </a>
        <a class="floating-header-share-github" href="https://github.com/share?url={{ site.production_url }}{{ page.url | remove_first: '/' }}&amp;title={{ page.title | url_encode }}&amp;shortlink={{ page.title | url_encode }}"
            onclick="window.open(this.href, 'share-github','width=600,height=400');return false;">
            {% include github.html %}
        </a>
    </div>
    <progress class="progress" value="0">
        <div class="progress-container">
            <span class="progress-bar"></span>
        </div>
    </progress>
</div>
