<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{ './' | relative_url }}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{ './about/' | relative_url }}">About</a></li>
    <li class="nav-about" role="menuitem"><a href="{{ './tag/WhoamI/' | relative_url }}">WhoamI</a></li>
    <li class="nav-tech-stack" role="menuitem"><a href="{{ './tag/tech-stack/' | relative_url }}">Tech Stack</a></li>
    <li class="nav-work-experience" role="menuitem"><a href="{{ './tag/work-experience/' | relative_url }}">Work Experience</a></li>
    <li class="nav-setup" role="menuitem"><a href="{{ './tag/setup/' | relative_url }}">Setup</a></li>
    <li class="nav-rants" role="menuitem"><a href="{{ './tag/rants/' | relative_url }}">Rants</a></li>
</ul>
