<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{ '/' | relative_url }}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{ '/about/' | relative_url }}">About</a></li>
    <li class="nav-getting-started" role="menuitem"><a href="{{ '/tag/WhoamI/' | relative_url }}">WhoamI</a></li>
    <li class="nav-getting-started" role="menuitem"><a href="{{ '/tag/tech-skills/' | relative_url }}">Tech Skills</a></li>
    <li class="nav-getting-started" role="menuitem"><a href="{{ '/tag/work-experience/' | relative_url }}">Experience</a></li>
    <li class="nav-getting-started" role="menuitem"><a href="{{ '/tag/setup/' | relative_url }}">Setup</a></li>
    <li class="nav-getting-started" role="menuitem"><a href="{{ '/tag/logs/' | relative_url }}">Rants</a></li>
</ul>
