<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
    <li class="nav-getting-started" role="menuitem"><a href="{{site.baseurl}}tag/WhoamI/">WhoamI</a></li>
    <li class="nav-getting-started" role="menuitem"><a href="{{site.baseurl}}tag/tech-skills/">Tech Skills</a></li>
    <li class="nav-getting-started" role="menuitem"><a href="{{site.baseurl}}tag/work-experience/">Experience</a></li>
    <li class="nav-getting-started" role="menuitem"><a href="{{site.baseurl}}tag/setup/">Setup</a></li>
    <li class="nav-getting-started" role="menuitem"><a href="{{site.baseurl}}tag/logs/">Rants</a></li>
</ul>
